<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fool Your Friend</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Fool Your Friend</h1>
    <p>AI can manifest super-human ability, while it can also generate misinformation and disinformation. Play a game with your friend to see how text-to-image generator can generate an image to fool your friend as if it’s a real one.</p>
    <p>Enter the game as:</p>
    <p>
        <a href="/guesser" class="btn btn-primary">Guesser</a>
        <a href="/submit-question" class="btn btn-primary">Fooler</a>
    </p>
</div>
<div class="container text-right">
    <a href="/questions" class="btn btn-secondary">Ranking</a>
</div>
</body>
</html>